*{
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;

  image-rendering: pixelated;
  
  background-color: #000;

  color: #FFF;
  font-family: system-ui, sans-serif;

  overscroll-behavior: none;
}